<!-- <div class="container mt-4">
    <h2>Questions for Subject ID: {{ subjectId }}</h2>
  
    <div *ngFor="let question of questions; let i = index" class="question-container">
      <div class="question">
        <p>{{ question.questionText }}</p>
      </div>
  
      <div class="answer-form">
        <label for="userAnswer{{ question.questionID }}">Your Answer:</label>
        <textarea
          id="userAnswer{{ question.questionID }}"
          [(ngModel)]="userResponses[i].userAnswer"
          placeholder="Type your answer"
          rows="4"
        ></textarea>
      </div>
    </div>
  
    <button class="submit-button mt-3" (click)="submitTest()">Submit Test</button>
  </div>
   -->