<div class="container">
    <table class="table table-bordered table-striped" style="width: 500px;">
        <tr>
            <td>
                <label>Organization Id</label>
            </td>
            <td>
                <input type="number" [(ngModel)]="organizationid" class="form-control">
            </td>
            <td>
                <button class="btn btn-primary" (click)="search()">Search</button>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <span style="color: red;">{{errMsg}}</span>
            </td>
        </tr>
    </table>
    <hr>
    <table class="table" *ngIf="isOrganizationExist">
        <tr>
            <td>Id</td>
            <td>
                <input type="number" [(ngModel)]="organization.id" >
            </td>
        </tr>
        <tr>
            <td>Organization name</td>
            <td>
                <input type="text" [(ngModel)]="organization.name" >
            </td>
        </tr>
        
        <tr>
            <td colspan="2">
                <button class="btn btn-primary" (click)="edit()">Edit</button> &nbsp;
                
            </td>
        </tr>
 
    </table>
</div>
