<div class="row" style="margin-bottom:15px;">
    <div class="col-md-3">
        <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files) " style="display:none;">
        <button type="button" class="btn btn-success" (click)="file.click()">Upload Profile Pic</button>
    </div>
    <div class="col-md-4"><br>
        <span class="upload" *ngIf="'progress>0'"><br>
            {{progress}} %
        </span>
        <span class="upload" *ngIf="message">
            {{message}}
        </span>
    </div>
</div>
