
<div class="container-fluid" id="main">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-md-3 col-lg-2 sidebar-offcanvas bg-light pl-0" id="sidebar" role="navigation">
            <ul class="nav flex-column sticky-top pl-0 pt-5 mt-3">
                <li class="nav-item"><a class="nav-link"><i class="fas fa-building"></i> ORGANIZATION</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="'addorganization'"><i class="fas fa-plus"></i> Add Organization</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="'getallorganization'"><i class="fas fa-list"></i> Get All Organization</a></li>
                <li class="nav-item"><a class="nav-link"><i class="fas fa-globe"></i> SITE</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="'addsite'"><i class="fas fa-plus"></i> Add Site</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="'getallsite'"><i class="fas fa-list"></i> Get All Site</a></li>
                <li class="nav-item"><a class="nav-link"><i class="fas fa-book"></i> SUBJECT</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="'addsubject'"><i class="fas fa-plus"></i> Add Subject</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="'getallsubject'"><i class="fas fa-list"></i> Get All Subject</a></li>
                <li class="nav-item"><a class="nav-link"><i class="fas fa-question"></i> QUESTION BANK</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="'addquestionbank'"><i class="fas fa-plus"></i> Add QuestionBank</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="'getallquestionbank'"><i class="fas fa-list"></i> Get All QuestionBank</a></li>
                <li class="nav-item"><a class="nav-link"><i class="fas fa-tasks"></i> TEST STRUCTURE</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="'addtest'"><i class="fas fa-plus"></i> Add TestStructure</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="'getalltests'"><i class="fas fa-list"></i> Get All TestStructures</a></li>
                <li class="nav-item"><a class="nav-link"><i class="fas fa-tasks"></i> ASSIGNED TEST</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="'addassignedtest'"><i class="fas fa-plus"></i> Add Test</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="'getassignedtests'"><i class="fas fa-list"></i> Get All AssignedTests</a></li>
                <li class="nav-item"><a class="nav-link"><i class="fas fa-user"></i> USER</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="'getalluser'"><i class="fas fa-list"></i> List of Users</a></li>
                <li class="nav-item"><a class="nav-link"><i class="fas fa-user"></i> USER RESPONSES</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="'getuserresponses'"><i class="fas fa-list"></i> Get All UserResponses</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="''"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            </ul>
        </div>
        <!--/col-->

        <div class="col main pt-5 mt-3">
            <router-outlet></router-outlet>
        </div>
        <!--/main col-->
    </div>
</div>

