<div class="container mt-4">
    <h2>Test Structure Details</h2>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Test ID</th>
          <th>Test Name</th>
          <th>Subject ID</th> 
          <th>No of Questions</th>
          <th>Total Marks</th>
          <th>Duration (minutes)</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
       
        <tr *ngIf="testStructure">
          <td>{{ testStructure.testID }}</td> 
          <td>{{ testStructure.testName }}</td>
          <td>{{ testStructure.subjectID }}</td>
          <td>{{ testStructure.noOfQuestions }}</td>
          <td>{{ testStructure.totalMarks }}</td>
          <td>{{ testStructure.duration }}</td>
          <td><button class="btn btn-info" (click)="starttest(testStructure.subjectID)">StartTest</button></td>
        
        </tr>          
      </tbody>
    </table>
  </div>
  