<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Online Exam Tool</title>
</head>

<body>
  <header>
    <h1>Online Exam Tool</h1>
  </header>

  <div class="container">
    <img src="https://static.vecteezy.com/system/resources/previews/002/130/421/non_2x/online-exam-internet-distance-school-test-banner-landing-page-clock-computer-screen-web-quiz-check-list-boxes-questionnaire-application-digital-education-online-exam-blue-background-vector.jpg" alt="Online Exam Tool Image">
    <p>
      Welcome to our Online Exam Tool! This tool provides you with a platform to take online exams conveniently.
      Take a look at the assigned tests in your dashboard and start your assessment.
    </p>

    <a href="/user-dashboard" class="dashboard-link">Go to User Dashboard</a>
  </div>
</body>
</html>
